* {
	font-family: "Futura PT Light","Trebuchet MS";
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}
a{
	text-decoration:none;
}

a.manga:hover{
	color: #fff;
    background-color: #15181A;
    border-color: #dae0e5;
}
a.manga{
	color: #fff;
    background-color: #343a40;
	border-color: #f8f9fa;
	margin-bottom:0px !important;
}
a.manhwa:hover{
	color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
a.manhwa{
	color: #212529;
    background-color: #f8f9fa;
	border-color: #f8f9fa;
	margin-bottom:0px !important;
}
a.apoyame:hover{
	background:#f24516;
}
a.apoyame{
	background:#f4623a;
	color:#fff;
}
a.button{
	display:inline-block;
	padding:15px 20px;
	border-radius:30px;
	font-size:20px;
	font-weight:bold;
	margin:40px auto;
	transition: all 0.1s ease-in-out;
}
header a{
	color:#fff;
}
body section p{
	color: rgba(255,255,255,.75);
	font-size: 23px;
	font-weight: 300;
	max-width:730px;
	width:100%;
	margin:0px auto;
	text-align:center;
}
h1{
	font-size: 65px;
	text-align:center;
	color:#fff;
}
h2{
	font-size: 30px;
	text-align:center;
	font-weight:500;
}
hr.naranja{
	border: 1.5px solid #f4623a;
}
hr.blanco{
	border: 1.5px solid #fff;
}
hr{
	max-width:50px;
	margin:23px auto;
}
body > section{
	background: linear-gradient(to left,rgba(92,77,66,.8), rgba(92,77,66,.8)),url(../img/bg-masthead.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-attachment: scroll;
	background-size: cover;
	/* height: 100vh; */
	padding:0px 15px;
}
body section section > div{
	width:100%;
	max-width:950px;
	margin:0px auto;
	text-align:center;
}
body > section section{
	margin-top:80px;
}
header .barra-menu{
	display:none;
	padding:20px 15px 0px;
	text-align:right;
}
header .barra-menu span{
	margin:10px 15px;
	color:#fff;
	font-size:30px;
}
header ul{
	text-align:right;
	padding:20px 15px;
}
header ul li{
	display:inline-block;
	padding:10px 15px;
}
header ul li a{
	display:block;
}
.arti-blanco div p{
	color: #6c757d;
}
.article-i div{
	text-align:center;
}
.arti-blanco{
	background: #fff;
	color:#black;
}
.arti-negro{
	background:#343a40;
	color:#fff;
}
.contact-me:hover{
	text-decoration:underline;
}
.article-i + .arti-naranja .contact-me{
	color:rgba(255,255,255,.8);
}
.article-i + .arti-blanco div p i,
.article-i + .arti-naranja div p i{
	margin:10px auto;
	font-size:3em;
}
.contact-me{
	display:block;
	color:#f4623a;
}
.arti-naranja{
	background:#f4623a;
	color:#fff;
}
.article-i{
	padding:120px 0px;
}
.article-i div{
	max-width:950px;
	width:100%;
	padding:0px 15px;
	margin:0px auto;
}
.article-i p{
	color: rgba(255,255,255,.8);
	text-align:center;
}
footer{
	padding:40px 0px;
	text-align:center;
	color: #6c757d;
	background:#f8f9fa;
}
header ul li a .ul-li-a{
	display:none;
}

.article-i > .content-pdfs article{
	padding:0px 7.5px;
	margin:0px auto;
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.article-i > .content-pdfs > div{
	padding:15px;
}
#buscar::placeholder{
	transition: all 0.2s ease-in-out;
}
#buscar:focus::placeholder{
	color:#f4623a;
}
#buscar:focus{
	border: 1px solid #f4623a;
	background-image:url("../img/searchiconv2.png");
}
#buscar{
	display:block;
	width:100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	margin:0px;
	outline: none;
	border: 1px solid #a9a9a9;
	transition: all 0.2s ease-in-out;
	color:#f4623a;
	background-image:url("../img/searchicon.png");
	background-position: 10px 10px; 
	background-repeat: no-repeat;
}
.article-i > .content-pdfs article a:hover img{
	filter: grayscale(100%);
}
.article-i > .content-pdfs article a{
	margin:0px 7.5px;
	width: calc(25% - 15px);
	padding:0px;
	display:block;
}
.article-i > .content-pdfs article a p{
	margin:0px;
	padding:5px;
	background:#f4623a;
	color: #fff;
}
.article-i > .content-pdfs article a img{
	display:block;
	margin:0px;
	padding:0px;
	width:100%;
	height:auto;
	transition: all 0.2s ease-in-out;
}
.article-i-middle{
	padding-bottom:0px;
	padding-top:0px;
}
.article-i-middle img{
	max-width:800px;
	width:100%;
	height:auto;
}
.article-i-end div a{
	display:inline-block;
	position:relative;
}
.article-i-end div a img{
	display:block;
	max-width:500px;
	width:100%;
	margin:0px auto;
	transition: all 0.3s ease-in-out;
}
.article-i-end div a:hover img{
	opacity:0.6;
}
.article-i-end div a:hover p{
	display:block;
}
.article-i-end div a p{
	position:absolute;
	background:#f4623a;
	color:#fff;
	padding:15px;
	left:27.3%;
	border:2px dashed #fff;
	display:none;
}
@media (max-width:600px){
	h1{
		font-size:45px;
	}
	body section p{
		font-size:20px;
	}
	body > section{
		height:100%;
		padding-bottom:80px;
	}
	.article-i > .content-pdfs article a{
		width: calc(50% - 15px);
	}
}
@media (max-width:430px){
	header .barra-menu{
		display:block;
	}
	header ul{
		display:none;
	}
	header ul{
		padding: 0px 15px;
	}
	header ul li{
		display:block;
	}
	header ul li a .ul-li-a{
		display:inline-block;
		margin-left: 8px;
	}
	.article-i > .content-pdfs article a{
		width: calc(100% - 15px);
	}
}